/* Partie Page d'accueil (index) */

/* Partie Page de connexion/inscription (login) */

.form-register{
    display: none;
}

.btn-registerform{
    border: none;
    background-color: white;
    color: blue;
}
.btn-registerform:hover{
    color: orange;
}

.btn-loginform{
    border: none;
    background-color: white;
    color: blue;
}
.btn-loginform:hover{
    color: orange;
}
/* Partie Page Profile (profil) */

/* Partie Page de recherche (search) */

/* Partie Page paramètres (parameters) */

/* Partie Page contact et mentions légales (contact) */

/* Partie Page messagerie (messages) */

/* Partie Page blogs (blogs) */